@model List<Cliente>
@{
    ViewData["Title"] = "Rides";
}

@if (TempData["msg"] != null)
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}

<h1>Rides Realizadas</h1>

<table class="table table-hover">
    <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Telefone</th>
        <th>Partida</th>
        <th>Chegada</th>
        <th>Modelo do carro</th>
        <th>Placa</th>
        <th>Senha da porta</th>
        <th>Valor total</th>
        <th>
            <form class="row row-cols-lg-auto g-3 mb-3 align-items-center">
                <div>
                    <input type="text" name="nome" placeholder="Digite o nome" class="form-control"/>
                </div>
                <div>
                    <button class="btn btn-outline-success" type="submit">Pesquisar</button>
                </div>
            </form>

        </th>

    </tr>

    @foreach (var v in Model)
    {
    <tr>
        
        <td>@v.Name</td>
        <td>@v.cpf</td>
        <td>@v.Telefone</td>
        <td>@v.partida</td>
        <td>@v.chegada</td>
        <td>@v.Carros?.ModeloCarro</td>
        <td>@v.Carros?.Placa</td>
        <td>@v.Carros?.SenhaPorta</td>
        <td>@v.Pagamentos.Total</td>
        <td>
            <a asp-action="Agendamento"  class="btn btn-outline-dark btn-sm" asp-route-id="@v.Id">Agendar</a>
        </td>
    </tr>
    }


</table>
